<div id="folder-browser" class="span3 well well-small">
    <h4>Folders:</h4>
    <ul class="tree">
        {% set t_url = "" %}
        {% include 'StorageBundle:Default:includes/branch.tree.html.twig' %}
    </ul>
</div>
