@font-face {
	font-family: 'IcoMoon';
	src: url('IcoMoon.eot');
	src: url('IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('IcoMoon.svg#IcoMoon') format('svg'),
		url('IcoMoon.woff') format('woff'),
		url('IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="imoon-"]:before, [class*=" imoon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
.imoon-home:before {
	content: "\0021";
}
.imoon-home-2:before {
	content: "\0022";
}
.imoon-home-3:before {
	content: "\0023";
}
.imoon-newspaper:before {
	content: "\0024";
}
.imoon-pencil:before {
	content: "\0025";
}
.imoon-pencil-2:before {
	content: "\0026";
}
.imoon-droplet:before {
	content: "\0027";
}
.imoon-picture:before {
	content: "\0028";
}
.imoon-picture-2:before {
	content: "\0029";
}
.imoon-camera:before {
	content: "\002a";
}
.imoon-music:before {
	content: "\002b";
}
.imoon-play:before {
	content: "\002c";
}
.imoon-film:before {
	content: "\002d";
}
.imoon-camera-2:before {
	content: "\002e";
}
.imoon-spades:before {
	content: "\002f";
}
.imoon-clubs:before {
	content: "\0030";
}
.imoon-diamonds:before {
	content: "\0031";
}
.imoon-broadcast:before {
	content: "\0032";
}
.imoon-microphone:before {
	content: "\0033";
}
.imoon-book:before {
	content: "\0034";
}
.imoon-paper:before {
	content: "\0035";
}
.imoon-paper-2:before {
	content: "\0036";
}
.imoon-new:before {
	content: "\0037";
}
.imoon-copy:before {
	content: "\0038";
}
.imoon-folder:before {
	content: "\0039";
}
.imoon-folder-2:before {
	content: "\003a";
}
.imoon-tag:before {
	content: "\003b";
}
.imoon-cart:before {
	content: "\003c";
}
.imoon-basket:before {
	content: "\003d";
}
.imoon-calculate:before {
	content: "\003e";
}
.imoon-support:before {
	content: "\003f";
}
.imoon-phone:before {
	content: "\0040";
}
.imoon-mail:before {
	content: "\0041";
}
.imoon-location:before {
	content: "\0042";
}
.imoon-compass:before {
	content: "\0043";
}
.imoon-history:before {
	content: "\0044";
}
.imoon-clock:before {
	content: "\0045";
}
.imoon-bell:before {
	content: "\0046";
}
.imoon-bell-2:before {
	content: "\0047";
}
.imoon-bell-3:before {
	content: "\0048";
}
.imoon-calendar:before {
	content: "\0049";
}
.imoon-mouse:before {
	content: "\004a";
}
.imoon-screen:before {
	content: "\004b";
}
.imoon-laptop:before {
	content: "\004c";
}
.imoon-mobile:before {
	content: "\004d";
}
.imoon-tablet:before {
	content: "\004e";
}
.imoon-mobile-2:before {
	content: "\004f";
}
.imoon-drawer:before {
	content: "\0050";
}
.imoon-drawer-2:before {
	content: "\0051";
}
.imoon-box-add:before {
	content: "\0052";
}
.imoon-box-remove:before {
	content: "\0053";
}
.imoon-database:before {
	content: "\0054";
}
.imoon-undo:before {
	content: "\0055";
}
.imoon-redo:before {
	content: "\0056";
}
.imoon-forward:before {
	content: "\0057";
}
.imoon-reply:before {
	content: "\0058";
}
.imoon-reply-2:before {
	content: "\0059";
}
.imoon-comments:before {
	content: "\005a";
}
.imoon-comments-2:before {
	content: "\005b";
}
.imoon-comments-3:before {
	content: "\005c";
}
.imoon-comments-4:before {
	content: "\005d";
}
.imoon-comments-5:before {
	content: "\005e";
}
.imoon-comments-6:before {
	content: "\005f";
}
.imoon-user:before {
	content: "\0060";
}
.imoon-user-2:before {
	content: "\0061";
}
.imoon-user-3:before {
	content: "\0062";
}
.imoon-busy:before {
	content: "\0063";
}
.imoon-loading:before {
	content: "\0064";
}
.imoon-loading-2:before {
	content: "\0065";
}
.imoon-search:before {
	content: "\0066";
}
.imoon-search-2:before {
	content: "\0067";
}
.imoon-zoom-in:before {
	content: "\0068";
}
.imoon-zoom-out:before {
	content: "\0069";
}
.imoon-key:before {
	content: "\006a";
}
.imoon-key-2:before {
	content: "\006b";
}
.imoon-locked:before {
	content: "\006c";
}
.imoon-unlocked:before {
	content: "\006d";
}
.imoon-wrench:before {
	content: "\006e";
}
.imoon-equalizer:before {
	content: "\006f";
}
.imoon-cog:before {
	content: "\0070";
}
.imoon-pie:before {
	content: "\0071";
}
.imoon-bars:before {
	content: "\0072";
}
.imoon-stats-up:before {
	content: "\0073";
}
.imoon-gift:before {
	content: "\0074";
}
.imoon-trophy:before {
	content: "\0075";
}
.imoon-diamond:before {
	content: "\0076";
}
.imoon-coffee:before {
	content: "\0077";
}
.imoon-rocket:before {
	content: "\0078";
}
.imoon-meter-slow:before {
	content: "\0079";
}
.imoon-meter-medium:before {
	content: "\007a";
}
.imoon-meter-fast:before {
	content: "\007b";
}
.imoon-dashboard:before {
	content: "\007c";
}
.imoon-fire:before {
	content: "\007d";
}
.imoon-lab:before {
	content: "\e000";
}
.imoon-remove:before {
	content: "\e001";
}
.imoon-remove-2:before {
	content: "\e002";
}
.imoon-remove-3:before {
	content: "\e003";
}
.imoon-briefcase:before {
	content: "\e004";
}
.imoon-briefcase-2:before {
	content: "\e005";
}
.imoon-cars:before {
	content: "\e006";
}
.imoon-bus:before {
	content: "\e007";
}
.imoon-cube:before {
	content: "\e008";
}
.imoon-cube-2:before {
	content: "\e009";
}
.imoon-puzzle:before {
	content: "\e00a";
}
.imoon-glasses:before {
	content: "\e00b";
}
.imoon-glasses-2:before {
	content: "\e00c";
}
.imoon-accessibility:before {
	content: "\e00d";
}
.imoon-accessibility-2:before {
	content: "\e00e";
}
.imoon-target:before {
	content: "\e00f";
}
.imoon-target-2:before {
	content: "\e010";
}
.imoon-lightning:before {
	content: "\e011";
}
.imoon-power:before {
	content: "\e012";
}
.imoon-power-2:before {
	content: "\e013";
}
.imoon-clipboard:before {
	content: "\e014";
}
.imoon-clipboard-2:before {
	content: "\e015";
}
.imoon-playlist:before {
	content: "\e016";
}
.imoon-grid-view:before {
	content: "\e017";
}
.imoon-tree-view:before {
	content: "\e018";
}
.imoon-menu:before {
	content: "\e019";
}
.imoon-menu-2:before {
	content: "\e01a";
}
.imoon-cloud:before {
	content: "\e01b";
}
.imoon-cloud-2:before {
	content: "\e01c";
}
.imoon-download:before {
	content: "\e01d";
}
.imoon-upload:before {
	content: "\e01e";
}
.imoon-upload-2:before {
	content: "\e01f";
}
.imoon-link:before {
	content: "\e020";
}
.imoon-link-2:before {
	content: "\e021";
}
.imoon-flag:before {
	content: "\e022";
}
.imoon-flag-2:before {
	content: "\e023";
}
.imoon-flag-3:before {
	content: "\e024";
}
.imoon-eye:before {
	content: "\e025";
}
.imoon-eye-2:before {
	content: "\e026";
}
.imoon-bookmark:before {
	content: "\e027";
}
.imoon-bookmark-2:before {
	content: "\e028";
}
.imoon-star:before {
	content: "\e029";
}
.imoon-star-2:before {
	content: "\e02a";
}
.imoon-star-3:before {
	content: "\e02b";
}
.imoon-heart:before {
	content: "\e02c";
}
.imoon-heart-2:before {
	content: "\e02d";
}
.imoon-thumbs-up:before {
	content: "\e02e";
}
.imoon-thumbs-down:before {
	content: "\e02f";
}
.imoon-happy:before {
	content: "\e030";
}
.imoon-smiley:before {
	content: "\e031";
}
.imoon-neutral:before {
	content: "\e032";
}
.imoon-plus:before {
	content: "\e033";
}
.imoon-minus:before {
	content: "\e034";
}
.imoon-help:before {
	content: "\e035";
}
.imoon-help-2:before {
	content: "\e036";
}
.imoon-info:before {
	content: "\e037";
}
.imoon-blocked:before {
	content: "\e038";
}
.imoon-cancel:before {
	content: "\e039";
}
.imoon-cancel-2:before {
	content: "\e03a";
}
.imoon-cancel-3:before {
	content: "\e03b";
}
.imoon-checkmark:before {
	content: "\e03c";
}
.imoon-minus-2:before {
	content: "\e03d";
}
.imoon-plus-2:before {
	content: "\e03e";
}
.imoon-enter:before {
	content: "\e03f";
}
.imoon-exit:before {
	content: "\e040";
}
.imoon-loop:before {
	content: "\e041";
}
.imoon-arrow-up:before {
	content: "\e042";
}
.imoon-arrow-right:before {
	content: "\e043";
}
.imoon-arrow-down:before {
	content: "\e044";
}
.imoon-arrow-left:before {
	content: "\e045";
}
.imoon-arrow-up-left:before {
	content: "\e046";
}
.imoon-arrow-up-2:before {
	content: "\e047";
}
.imoon-arrow-up-right:before {
	content: "\e048";
}
.imoon-arrow-right-2:before {
	content: "\e049";
}
.imoon-arrow-down-right:before {
	content: "\e04a";
}
.imoon-arrow-down-2:before {
	content: "\e04b";
}
.imoon-arrow-down-left:before {
	content: "\e04c";
}
.imoon-arrow-left-2:before {
	content: "\e04d";
}
.imoon-arrow-up-left-2:before {
	content: "\e04e";
}
.imoon-arrow-up-3:before {
	content: "\e04f";
}
.imoon-arrow-up-right-2:before {
	content: "\e050";
}
.imoon-arrow-right-3:before {
	content: "\e051";
}
.imoon-arrow-down-right-2:before {
	content: "\e052";
}
.imoon-arrow-down-3:before {
	content: "\e053";
}
.imoon-arrow-down-left-2:before {
	content: "\e054";
}
.imoon-arrow-left-3:before {
	content: "\e055";
}
.imoon-arrow-up-left-3:before {
	content: "\e056";
}
.imoon-arrow-up-4:before {
	content: "\e057";
}
.imoon-arrow-up-right-3:before {
	content: "\e058";
}
.imoon-arrow-right-4:before {
	content: "\e059";
}
.imoon-arrow-down-right-3:before {
	content: "\e05a";
}
.imoon-arrow-down-4:before {
	content: "\e05b";
}
.imoon-arrow-down-left-3:before {
	content: "\e05c";
}
.imoon-arrow-left-4:before {
	content: "\e05d";
}
.imoon-arrow-up-5:before {
	content: "\e05e";
}
.imoon-arrow-right-5:before {
	content: "\e05f";
}
.imoon-arrow-down-5:before {
	content: "\e060";
}
.imoon-arrow-left-5:before {
	content: "\e061";
}
.imoon-arrow-up-6:before {
	content: "\e062";
}
.imoon-arrow-right-6:before {
	content: "\e063";
}
.imoon-arrow-down-6:before {
	content: "\e064";
}
.imoon-arrow-left-6:before {
	content: "\e065";
}
.imoon-arrow-up-7:before {
	content: "\e066";
}
.imoon-arrow-right-7:before {
	content: "\e067";
}
.imoon-arrow-down-7:before {
	content: "\e068";
}
.imoon-arrow-left-7:before {
	content: "\e069";
}
.imoon-menu-3:before {
	content: "\e06a";
}
.imoon-enter-2:before {
	content: "\e06b";
}
.imoon-backspace:before {
	content: "\e06c";
}
.imoon-backspace-2:before {
	content: "\e06d";
}
.imoon-tab:before {
	content: "\e06e";
}
.imoon-tab-2:before {
	content: "\e06f";
}
.imoon-checkbox:before {
	content: "\e070";
}
.imoon-checkbox-unchecked:before {
	content: "\e071";
}
.imoon-checkbox-partial:before {
	content: "\e072";
}
.imoon-radio-checked:before {
	content: "\e073";
}
.imoon-radio-unchecked:before {
	content: "\e074";
}
.imoon-font:before {
	content: "\e075";
}
.imoon-paragraph-left:before {
	content: "\e076";
}
.imoon-paragraph-center:before {
	content: "\e077";
}
.imoon-paragraph-right:before {
	content: "\e078";
}
.imoon-left-to-right:before {
	content: "\e079";
}
.imoon-right-to-left:before {
	content: "\e07a";
}
.imoon-out:before {
	content: "\e07b";
}
.imoon-out-2:before {
	content: "\e07c";
}
.imoon-embed:before {
	content: "\e07d";
}
.imoon-seven-segment:before {
	content: "\e07e";
}
.imoon-seven-segment-2:before {
	content: "\e07f";
}
.imoon-seven-segment-3:before {
	content: "\e080";
}
.imoon-seven-segment-4:before {
	content: "\e081";
}
.imoon-seven-segment-5:before {
	content: "\e082";
}
.imoon-seven-segment-6:before {
	content: "\e083";
}
.imoon-seven-segment-7:before {
	content: "\e084";
}
.imoon-seven-segment-8:before {
	content: "\e085";
}
.imoon-seven-segment-9:before {
	content: "\e086";
}
.imoon-seven-segment-10:before {
	content: "\e087";
}
.imoon-bluetooth:before {
	content: "\e088";
}
.imoon-share:before {
	content: "\e089";
}
.imoon-share-2:before {
	content: "\e08a";
}
.imoon-mail-2:before {
	content: "\e08b";
}
.imoon-google-plus:before {
	content: "\e08c";
}
.imoon-google-plus-2:before {
	content: "\e08d";
}
.imoon-google-plus-3:before {
	content: "\e08e";
}
.imoon-facebook:before {
	content: "\e08f";
}
.imoon-facebook-2:before {
	content: "\e090";
}
.imoon-twitter:before {
	content: "\e091";
}
.imoon-twitter-2:before {
	content: "\e092";
}
.imoon-twitter-3:before {
	content: "\e093";
}
.imoon-twitter-4:before {
	content: "\e094";
}
.imoon-feed:before {
	content: "\e095";
}
.imoon-feed-2:before {
	content: "\e096";
}
.imoon-youtube:before {
	content: "\e097";
}
.imoon-youtube-2:before {
	content: "\e098";
}
.imoon-vimeo:before {
	content: "\e099";
}
.imoon-vimeo-2:before {
	content: "\e09a";
}
.imoon-flickr:before {
	content: "\e09b";
}
.imoon-flickr-2:before {
	content: "\e09c";
}
.imoon-picassa:before {
	content: "\e09d";
}
.imoon-picassa-2:before {
	content: "\e09e";
}
.imoon-dribbble:before {
	content: "\e09f";
}
.imoon-dribbble-2:before {
	content: "\e0a0";
}
.imoon-forrst:before {
	content: "\e0a1";
}
.imoon-forrst-2:before {
	content: "\e0a2";
}
.imoon-deviantart:before {
	content: "\e0a3";
}
.imoon-deviantart-2:before {
	content: "\e0a4";
}
.imoon-github:before {
	content: "\e0a5";
}
.imoon-github-2:before {
	content: "\e0a6";
}
.imoon-github-3:before {
	content: "\e0a7";
}
.imoon-github-4:before {
	content: "\e0a8";
}
.imoon-wordpress:before {
	content: "\e0a9";
}
.imoon-wordpress-2:before {
	content: "\e0aa";
}
.imoon-blogger:before {
	content: "\e0ab";
}
.imoon-blogger-2:before {
	content: "\e0ac";
}
.imoon-tumblr:before {
	content: "\e0ad";
}
.imoon-tumblr-2:before {
	content: "\e0ae";
}
.imoon-yahoo:before {
	content: "\e0af";
}
.imoon-yahoo-2:before {
	content: "\e0b0";
}
.imoon-amazon:before {
	content: "\e0b1";
}
.imoon-amazon-2:before {
	content: "\e0b2";
}
.imoon-apple:before {
	content: "\e0b3";
}
.imoon-android:before {
	content: "\e0b4";
}
.imoon-windows:before {
	content: "\e0b5";
}
.imoon-soundcloud:before {
	content: "\e0b6";
}
.imoon-soundcloud-2:before {
	content: "\e0b7";
}
.imoon-skype:before {
	content: "\e0b8";
}
.imoon-reddit:before {
	content: "\e0b9";
}
.imoon-linkedin:before {
	content: "\e0ba";
}
.imoon-lastfm:before {
	content: "\e0bb";
}
.imoon-lastfm-2:before {
	content: "\e0bc";
}
.imoon-delicious:before {
	content: "\e0bd";
}
.imoon-stumbleupon:before {
	content: "\e0be";
}
.imoon-stumbleupon-2:before {
	content: "\e0bf";
}
.imoon-pinterest:before {
	content: "\e0c0";
}
.imoon-pinterest-2:before {
	content: "\e0c1";
}
.imoon-xing:before {
	content: "\e0c2";
}
.imoon-libreoffice:before {
	content: "\e0c3";
}
.imoon-file-pdf:before {
	content: "\e0c4";
}
.imoon-file-openoffice:before {
	content: "\e0c5";
}
.imoon-file-word:before {
	content: "\e0c6";
}
.imoon-file-excel:before {
	content: "\e0c7";
}
.imoon-file-powerpoint:before {
	content: "\e0c8";
}
.imoon-file-xml:before {
	content: "\e0c9";
}
.imoon-file-css:before {
	content: "\e0ca";
}
.imoon-html5:before {
	content: "\e0cb";
}
.imoon-html5-2:before {
	content: "\e0cc";
}
.imoon-css3:before {
	content: "\e0cd";
}
.imoon-IcoMoon:before {
	content: "\e0ce";
}
.imoon-popup:before {
	content: "\e0cf";
}
.imoon-book-2:before {
	content: "\e0d0";
}
.imoon-bookmark-3:before {
	content: "\e0d1";
}
.imoon-home-4:before {
	content: "\e0d2";
}
.imoon-keyboard:before {
	content: "\e0d3";
}
.imoon-feather:before {
	content: "\e0d4";
}
.imoon-network:before {
	content: "\e0d5";
}
.imoon-inbox:before {
	content: "\e0d6";
}
.imoon-square:before {
	content: "\e0d7";
}
.imoon-globe:before {
	content: "\e0d8";
}
.imoon-broadcast-2:before {
	content: "\e0d9";
}
.imoon-arrow:before {
	content: "\e0da";
}
.imoon-screen-2:before {
	content: "\e0db";
}
.imoon-publish:before {
	content: "\e0dc";
}
.imoon-browser:before {
	content: "\e0dd";
}
.imoon-light-bulb:before {
	content: "\e0de";
}
.imoon-sun:before {
	content: "\e0df";
}
.imoon-sun-2:before {
	content: "\e0e0";
}
.imoon-back:before {
	content: "\e0e1";
}
.imoon-history-2:before {
	content: "\e0e2";
}
.imoon-battery:before {
	content: "\e0e3";
}
.imoon-battery-2:before {
	content: "\e0e4";
}
.imoon-battery-3:before {
	content: "\e0e5";
}
.imoon-battery-4:before {
	content: "\e0e6";
}
.imoon-battery-5:before {
	content: "\e0e7";
}
.imoon-code:before {
	content: "\e0e8";
}
.imoon-triangle:before {
	content: "\e0e9";
}
.imoon-triangle-2:before {
	content: "\e0ea";
}
.imoon-triangle-3:before {
	content: "\e0eb";
}
.imoon-triangle-4:before {
	content: "\e0ec";
}
.imoon-arrow-2:before {
	content: "\e0ed";
}
.imoon-arrow-3:before {
	content: "\e0ee";
}
.imoon-arrow-4:before {
	content: "\e0ef";
}
.imoon-arrow-5:before {
	content: "\e0f0";
}
.imoon-arrow-6:before {
	content: "\e0f1";
}
.imoon-arrow-7:before {
	content: "\e0f2";
}
.imoon-arrow-8:before {
	content: "\e0f3";
}
.imoon-arrow-9:before {
	content: "\e0f4";
}
.imoon-arrow-10:before {
	content: "\e0f5";
}
.imoon-arrow-11:before {
	content: "\e0f6";
}
.imoon-arrow-12:before {
	content: "\e0f7";
}
.imoon-arrow-13:before {
	content: "\e0f8";
}
.imoon-arrow-14:before {
	content: "\e0f9";
}
.imoon-arrow-15:before {
	content: "\e0fa";
}
.imoon-arrow-16:before {
	content: "\e0fb";
}
.imoon-arrow-17:before {
	content: "\e0fc";
}
.imoon-arrow-18:before {
	content: "\e0fd";
}
.imoon-arrow-19:before {
	content: "\e0fe";
}
.imoon-arrow-20:before {
	content: "\e0ff";
}
.imoon-arrow-21:before {
	content: "\e100";
}
.imoon-mute:before {
	content: "\e101";
}
.imoon-sound:before {
	content: "\e102";
}
.imoon-volume:before {
	content: "\e103";
}
.imoon-collapse:before {
	content: "\e104";
}
.imoon-full-screen:before {
	content: "\e105";
}
.imoon-last:before {
	content: "\e106";
}
.imoon-first:before {
	content: "\e107";
}
.imoon-fast-backward:before {
	content: "\e108";
}
.imoon-fast-forward:before {
	content: "\e109";
}
.imoon-stop:before {
	content: "\e10a";
}
.imoon-record:before {
	content: "\e10b";
}
.imoon-pause:before {
	content: "\e10c";
}
.imoon-play-2:before {
	content: "\e10d";
}
.imoon-upload-3:before {
	content: "\e10e";
}
.imoon-cloud-3:before {
	content: "\e10f";
}
.imoon-install:before {
	content: "\e110";
}
.imoon-download-2:before {
	content: "\e111";
}
.imoon-upload-4:before {
	content: "\e112";
}
.imoon-trashcan:before {
	content: "\e113";
}
.imoon-archive:before {
	content: "\e114";
}
.imoon-folder-3:before {
	content: "\e115";
}
.imoon-song:before {
	content: "\e116";
}
.imoon-movie:before {
	content: "\e117";
}
.imoon-images:before {
	content: "\e118";
}
.imoon-landscape:before {
	content: "\e119";
}
.imoon-documents:before {
	content: "\e11a";
}
.imoon-document:before {
	content: "\e11b";
}
.imoon-document-2:before {
	content: "\e11c";
}
.imoon-grid:before {
	content: "\e11d";
}
.imoon-add:before {
	content: "\e11e";
}
.imoon-list:before {
	content: "\e11f";
}
.imoon-retweet:before {
	content: "\e120";
}
.imoon-arrow-22:before {
	content: "\e121";
}
.imoon-back-2:before {
	content: "\e122";
}
.imoon-shuffle:before {
	content: "\e123";
}
.imoon-reload-CCW:before {
	content: "\e124";
}
.imoon-reload-CW:before {
	content: "\e125";
}
.imoon-warning:before {
	content: "\e126";
}
.imoon-help-3:before {
	content: "\e127";
}
.imoon-help-4:before {
	content: "\e128";
}
.imoon-info-circle:before {
	content: "\e129";
}
.imoon-info-2:before {
	content: "\e12a";
}
.imoon-blocked-2:before {
	content: "\e12b";
}
.imoon-plus-3:before {
	content: "\e12c";
}
.imoon-minus-3:before {
	content: "\e12d";
}
.imoon-close:before {
	content: "\e12e";
}
.imoon-plus-4:before {
	content: "\e12f";
}
.imoon-minus-4:before {
	content: "\e130";
}
.imoon-cancel-4:before {
	content: "\e131";
}
.imoon-checkmark-2:before {
	content: "\e132";
}
.imoon-unlocked-2:before {
	content: "\e133";
}
.imoon-locked-2:before {
	content: "\e134";
}
.imoon-rss:before {
	content: "\e135";
}
.imoon-time:before {
	content: "\e136";
}
.imoon-flash:before {
	content: "\e137";
}
.imoon-calendar-2:before {
	content: "\e138";
}
.imoon-microphone-2:before {
	content: "\e139";
}
.imoon-clock-2:before {
	content: "\e13a";
}
.imoon-eye-3:before {
	content: "\e13b";
}
.imoon-google-circles:before {
	content: "\e13c";
}
.imoon-support-2:before {
	content: "\e13d";
}
.imoon-flight:before {
	content: "\e13e";
}
.imoon-shopping:before {
	content: "\e13f";
}
.imoon-music-2:before {
	content: "\e140";
}
.imoon-leaf:before {
	content: "\e141";
}
.imoon-palette:before {
	content: "\e142";
}
.imoon-sleep:before {
	content: "\e143";
}
.imoon-camera-3:before {
	content: "\e144";
}
.imoon-price:before {
	content: "\e145";
}
.imoon-trophy-2:before {
	content: "\e146";
}
.imoon-search-3:before {
	content: "\e147";
}
.imoon-settings:before {
	content: "\e148";
}
.imoon-flag-4:before {
	content: "\e149";
}
.imoon-link-3:before {
	content: "\e14a";
}
.imoon-alert:before {
	content: "\e14b";
}
.imoon-printer:before {
	content: "\e14c";
}
.imoon-quote:before {
	content: "\e14d";
}
.imoon-comment:before {
	content: "\e14e";
}
.imoon-chat:before {
	content: "\e14f";
}
.imoon-thumbs-up-2:before {
	content: "\e150";
}
.imoon-star-4:before {
	content: "\e151";
}
.imoon-star-5:before {
	content: "\e152";
}
.imoon-heart-3:before {
	content: "\e153";
}
.imoon-heart-4:before {
	content: "\e154";
}
.imoon-share-3:before {
	content: "\e155";
}
.imoon-center:before {
	content: "\e156";
}
.imoon-direction:before {
	content: "\e157";
}
.imoon-compass-2:before {
	content: "\e158";
}
.imoon-map:before {
	content: "\e159";
}
.imoon-location-2:before {
	content: "\e15a";
}
.imoon-export:before {
	content: "\e15b";
}
.imoon-card:before {
	content: "\e15c";
}
.imoon-contact:before {
	content: "\e15d";
}
.imoon-users:before {
	content: "\e15e";
}
.imoon-user-4:before {
	content: "\e15f";
}
.imoon-forward-2:before {
	content: "\e160";
}
.imoon-reply-to-all:before {
	content: "\e161";
}
.imoon-reply-3:before {
	content: "\e162";
}
.imoon-attachment:before {
	content: "\e163";
}
.imoon-write:before {
	content: "\e164";
}
.imoon-email:before {
	content: "\e165";
}
.imoon-address:before {
	content: "\e166";
}
.imoon-mouse-2:before {
	content: "\e167";
}
.imoon-mobile-3:before {
	content: "\e168";
}
.imoon-phone-2:before {
	content: "\e169";
}
.imoon-paperclip:before {
	content: "\e16a";
}
.imoon-fork:before {
	content: "\e16b";
}
.imoon-cloud-upload:before {
	content: "\e16c";
}
.imoon-cloud-download:before {
	content: "\e16d";
}
.imoon-upload-5:before {
	content: "\e16e";
}
.imoon-download-3:before {
	content: "\e16f";
}
.imoon-target-3:before {
	content: "\e170";
}
.imoon-map-pin-alt:before {
	content: "\e171";
}
.imoon-map-pin-fill:before {
	content: "\e172";
}
.imoon-map-pin-stroke:before {
	content: "\e173";
}
.imoon-star-6:before {
	content: "\e174";
}
.imoon-umbrella:before {
	content: "\e175";
}
.imoon-rain:before {
	content: "\e176";
}
.imoon-cloud-4:before {
	content: "\e177";
}
.imoon-moon-fill:before {
	content: "\e178";
}
.imoon-moon-stroke:before {
	content: "\e179";
}
.imoon-sun-fill:before {
	content: "\e17a";
}
.imoon-sun-stroke:before {
	content: "\e17b";
}
.imoon-tag-fill:before {
	content: "\e17c";
}
.imoon-tag-stroke:before {
	content: "\e17d";
}
.imoon-unlock-fill:before {
	content: "\e17e";
}
.imoon-unlock-stroke:before {
	content: "\e17f";
}
.imoon-lock-fill:before {
	content: "\e180";
}
.imoon-lock-stroke:before {
	content: "\e181";
}
.imoon-clock-3:before {
	content: "\e182";
}
.imoon-home-5:before {
	content: "\e183";
}
.imoon-user-5:before {
	content: "\e184";
}
.imoon-eye-4:before {
	content: "\e185";
}
.imoon-bars-alt:before {
	content: "\e186";
}
.imoon-bars-2:before {
	content: "\e187";
}
.imoon-chart-alt:before {
	content: "\e188";
}
.imoon-chart:before {
	content: "\e189";
}
.imoon-aperture-alt:before {
	content: "\e18a";
}
.imoon-aperture:before {
	content: "\e18b";
}
.imoon-camera-4:before {
	content: "\e18c";
}
.imoon-image:before {
	content: "\e18d";
}
.imoon-layers:before {
	content: "\e18e";
}
.imoon-layers-alt:before {
	content: "\e18f";
}
.imoon-eyedropper:before {
	content: "\e190";
}
.imoon-brush-alt:before {
	content: "\e191";
}
.imoon-brush:before {
	content: "\e192";
}
.imoon-pen-alt2:before {
	content: "\e193";
}
.imoon-pen-alt-fill:before {
	content: "\e194";
}
.imoon-pen-alt-stroke:before {
	content: "\e195";
}
.imoon-pen:before {
	content: "\e196";
}
.imoon-book-alt2:before {
	content: "\e197";
}
.imoon-book-alt:before {
	content: "\e198";
}
.imoon-book-3:before {
	content: "\e199";
}
.imoon-list-nested:before {
	content: "\e19a";
}
.imoon-list-2:before {
	content: "\e19b";
}
.imoon-read-more:before {
	content: "\e19c";
}
.imoon-article:before {
	content: "\e19d";
}
.imoon-right-quote-alt:before {
	content: "\e19e";
}
.imoon-left-quote-alt:before {
	content: "\e19f";
}
.imoon-right-quote:before {
	content: "\e1a0";
}
.imoon-left-quote:before {
	content: "\e1a1";
}
.imoon-hash:before {
	content: "\e1a2";
}
.imoon-pilcrow:before {
	content: "\e1a3";
}
.imoon-question-mark:before {
	content: "\e1a4";
}
.imoon-info-3:before {
	content: "\e1a5";
}
.imoon-ampersand:before {
	content: "\e1a6";
}
.imoon-at:before {
	content: "\e1a7";
}
.imoon-folder-fill:before {
	content: "\e1a8";
}
.imoon-folder-stroke:before {
	content: "\e1a9";
}
.imoon-box:before {
	content: "\e1aa";
}
.imoon-compass-3:before {
	content: "\e1ab";
}
.imoon-battery-charging:before {
	content: "\e1ac";
}
.imoon-battery-full:before {
	content: "\e1ad";
}
.imoon-battery-half:before {
	content: "\e1ae";
}
.imoon-battery-empty:before {
	content: "\e1af";
}
.imoon-iphone:before {
	content: "\e1b0";
}
.imoon-fullscreen-alt:before {
	content: "\e1b1";
}
.imoon-fullscreen:before {
	content: "\e1b2";
}
.imoon-fullscreen-exit-alt:before {
	content: "\e1b3";
}
.imoon-fullscreen-exit:before {
	content: "\e1b4";
}
.imoon-play-alt:before {
	content: "\e1b5";
}
.imoon-last-2:before {
	content: "\e1b6";
}
.imoon-first-2:before {
	content: "\e1b7";
}
.imoon-eject:before {
	content: "\e1b8";
}
.imoon-stop-2:before {
	content: "\e1b9";
}
.imoon-pause-2:before {
	content: "\e1ba";
}
.imoon-play-3:before {
	content: "\e1bb";
}
.imoon-volume-mute:before {
	content: "\e1bc";
}
.imoon-volume-2:before {
	content: "\e1bd";
}
.imoon-headphones:before {
	content: "\e1be";
}
.imoon-microphone-3:before {
	content: "\e1bf";
}
.imoon-steering-wheel:before {
	content: "\e1c0";
}
.imoon-cd:before {
	content: "\e1c1";
}
.imoon-arrow-down-alt2:before {
	content: "\e1c2";
}
.imoon-arrow-down-alt1:before {
	content: "\e1c3";
}
.imoon-arrow-down-8:before {
	content: "\e1c4";
}
.imoon-arrow-up-alt2:before {
	content: "\e1c5";
}
.imoon-arrow-up-alt1:before {
	content: "\e1c6";
}
.imoon-arrow-up-8:before {
	content: "\e1c7";
}
.imoon-arrow-right-alt2:before {
	content: "\e1c8";
}
.imoon-arrow-right-alt1:before {
	content: "\e1c9";
}
.imoon-arrow-right-8:before {
	content: "\e1ca";
}
.imoon-arrow-left-alt2:before {
	content: "\e1cb";
}
.imoon-arrow-left-alt1:before {
	content: "\e1cc";
}
.imoon-arrow-left-8:before {
	content: "\e1cd";
}
.imoon-move-horizontal-alt2:before {
	content: "\e1ce";
}
.imoon-move-horizontal-alt1:before {
	content: "\e1cf";
}
.imoon-move-horizontal:before {
	content: "\e1d0";
}
.imoon-move-vertical-alt2:before {
	content: "\e1d1";
}
.imoon-move-vertical-alt1:before {
	content: "\e1d2";
}
.imoon-move-vertical:before {
	content: "\e1d3";
}
.imoon-transfer:before {
	content: "\e1d4";
}
.imoon-loop-alt4:before {
	content: "\e1d5";
}
.imoon-loop-alt3:before {
	content: "\e1d6";
}
.imoon-loop-alt2:before {
	content: "\e1d7";
}
.imoon-loop-alt1:before {
	content: "\e1d8";
}
.imoon-loop-2:before {
	content: "\e1d9";
}
.imoon-reload-alt:before {
	content: "\e1da";
}
.imoon-reload:before {
	content: "\e1db";
}
.imoon-undo-2:before {
	content: "\e1dc";
}
.imoon-curved-arrow:before {
	content: "\e1dd";
}
.imoon-spin:before {
	content: "\e1de";
}
.imoon-spin-alt:before {
	content: "\e1df";
}
.imoon-lightbulb:before {
	content: "\e1e0";
}
.imoon-new-window:before {
	content: "\e1e1";
}
.imoon-key-fill:before {
	content: "\e1e2";
}
.imoon-key-stroke:before {
	content: "\e1e3";
}
.imoon-beaker:before {
	content: "\e1e4";
}
.imoon-beaker-alt:before {
	content: "\e1e5";
}
.imoon-trash-fill:before {
	content: "\e1e6";
}
.imoon-trash-stroke:before {
	content: "\e1e7";
}
.imoon-magnifying-glass:before {
	content: "\e1e8";
}
.imoon-award-stroke:before {
	content: "\e1e9";
}
.imoon-award-fill:before {
	content: "\e1ea";
}
.imoon-equalizer-2:before {
	content: "\e1eb";
}
.imoon-move-alt2:before {
	content: "\e1ec";
}
.imoon-move-alt1:before {
	content: "\e1ed";
}
.imoon-move:before {
	content: "\e1ee";
}
.imoon-bolt:before {
	content: "\e1ef";
}
.imoon-link-4:before {
	content: "\e1f0";
}
.imoon-pin:before {
	content: "\e1f1";
}
.imoon-minus-alt:before {
	content: "\e1f2";
}
.imoon-minus-5:before {
	content: "\e1f3";
}
.imoon-plus-alt:before {
	content: "\e1f4";
}
.imoon-plus-5:before {
	content: "\e1f5";
}
.imoon-document-fill:before {
	content: "\e1f6";
}
.imoon-document-stroke:before {
	content: "\e1f7";
}
.imoon-document-alt-fill:before {
	content: "\e1f8";
}
.imoon-document-alt-stroke:before {
	content: "\e1f9";
}
.imoon-movie-2:before {
	content: "\e1fa";
}
.imoon-heart-fill:before {
	content: "\e1fb";
}
.imoon-heart-stroke:before {
	content: "\e1fc";
}
.imoon-mail-3:before {
	content: "\e1fd";
}
.imoon-share-4:before {
	content: "\e1fe";
}
.imoon-calendar-alt-fill:before {
	content: "\e1ff";
}
.imoon-calendar-alt-stroke:before {
	content: "\e200";
}
.imoon-calendar-3:before {
	content: "\e201";
}
.imoon-cog-2:before {
	content: "\e202";
}
.imoon-dial:before {
	content: "\e203";
}
.imoon-wrench-2:before {
	content: "\e204";
}
.imoon-rss-alt:before {
	content: "\e205";
}
.imoon-rss-2:before {
	content: "\e206";
}
.imoon-cursor:before {
	content: "\e207";
}
.imoon-denied:before {
	content: "\e208";
}
.imoon-x-altx-alt:before {
	content: "\e209";
}
.imoon-x:before {
	content: "\e20a";
}
.imoon-check-alt:before {
	content: "\e20b";
}
.imoon-checkmark-3:before {
	content: "\e20c";
}
.imoon-comment-alt2-fill:before {
	content: "\e20d";
}
.imoon-comment-alt2-stroke:before {
	content: "\e20e";
}
.imoon-comment-fill:before {
	content: "\e20f";
}
.imoon-comment-stroke:before {
	content: "\e210";
}
.imoon-comment-alt1-fill:before {
	content: "\e211";
}
.imoon-comment-alt1-stroke:before {
	content: "\e212";
}
.imoon-chat-alt-fill:before {
	content: "\e213";
}
.imoon-chat-alt-stroke:before {
	content: "\e214";
}
.imoon-chat-2:before {
	content: "\e215";
}
.imoon-Fahrenheit:before {
	content: "\e216";
}
.imoon-Celsius:before {
	content: "\e217";
}
.imoon-none:before {
	content: "\e218";
}
.imoon-compass-4:before {
	content: "\e219";
}
.imoon-thermometer:before {
	content: "\e21a";
}
.imoon-lightning-2:before {
	content: "\e21b";
}
.imoon-cloudy:before {
	content: "\e21c";
}
.imoon-weather:before {
	content: "\e21d";
}
.imoon-snowy:before {
	content: "\e21e";
}
.imoon-snowy-2:before {
	content: "\e21f";
}
.imoon-windy:before {
	content: "\e220";
}
.imoon-windy-2:before {
	content: "\e221";
}
.imoon-rainy:before {
	content: "\e222";
}
.imoon-rainy-2:before {
	content: "\e223";
}
.imoon-lightning-3:before {
	content: "\e224";
}
.imoon-cloud-5:before {
	content: "\e225";
}
.imoon-cloud-6:before {
	content: "\e226";
}
.imoon-cloudy-2:before {
	content: "\e227";
}
.imoon-moon:before {
	content: "\e228";
}
.imoon-sun-3:before {
	content: "\e229";
}
.imoon-lightning-4:before {
	content: "\e22a";
}
.imoon-cloud-7:before {
	content: "\e22b";
}
.imoon-cloudy-3:before {
	content: "\e22c";
}
.imoon-weather-2:before {
	content: "\e22d";
}
.imoon-snowy-3:before {
	content: "\e22e";
}
.imoon-snowy-4:before {
	content: "\e22f";
}
.imoon-snowy-5:before {
	content: "\e230";
}
.imoon-windy-3:before {
	content: "\e231";
}
.imoon-windy-4:before {
	content: "\e232";
}
.imoon-rainy-3:before {
	content: "\e233";
}
.imoon-rainy-4:before {
	content: "\e234";
}
.imoon-lightning-5:before {
	content: "\e235";
}
.imoon-lightning-6:before {
	content: "\e236";
}
.imoon-cloud-8:before {
	content: "\e237";
}
.imoon-lines:before {
	content: "\e238";
}
.imoon-weather-3:before {
	content: "\e239";
}
.imoon-weather-4:before {
	content: "\e23a";
}
.imoon-weather-5:before {
	content: "\e23b";
}
.imoon-cloud-9:before {
	content: "\e23c";
}
.imoon-cloudy-4:before {
	content: "\e23d";
}
.imoon-snowflake:before {
	content: "\e23e";
}
.imoon-wind:before {
	content: "\e23f";
}
.imoon-windy-5:before {
	content: "\e240";
}
.imoon-sun-4:before {
	content: "\e241";
}
.imoon-moon-2:before {
	content: "\e242";
}
.imoon-sun-5:before {
	content: "\e243";
}
.imoon-sunrise:before {
	content: "\e244";
}
