<!-- modal form -->
<form action="{{ path('folder_upload_url',{'id':entity.id}) }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_storage_url" id="_storage_url" value="{{ path('storage') }}"/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Url:</th>
            <th>Filename:</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="upload-files"></tbody>
    </table>
    <a onclick="addFile()"><i class="icon-plus"></i> Add File</a>
    <button class="btn btn-primary pull-right" type="submit"><i class="icon-upload"></i>
        Upload
    </button>
</form>
<script type="text/javascript">
    var upl_count = 0;
    var upl = $('#upload-files');
    function addFile() {
        upl_count++;
        upl.append('<tr id="upl_' + upl_count + '">' +
                '<td><input placeholder="http://server.com/file.ext" name="upl_url_' + upl_count +'" type="text" class="required"/></td>' +
                '<td><input placeholder="file.ext" name="upl_name_' + upl_count +'" type="text" class="required"/>' +
                '<input name="upl_ref_' + upl_count +'"type="hidden" value=""/></td>' +
                '<td><a href="#" onclick="removeFile(' + upl_count + ')"><i class="icon-remove"></i> Delete</a></td>' +
                '</tr>')
    }
    function removeFile(id) {
        $('#upl_' + id).html('');
    }
    addFile();
</script>